ConsoleCommands/
ErrorHandler/
SaveBackup/

GameplayMods/TimeMultiplier/data/
VisualMods/NPCMapLocations/config/
DependencyMods/FarmTypeManager/data/
"ContentMods/Stardew Valley Expanded/[FTM] Stardew Valley Expanded/data/"